*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #FFFFFF;
}

.top-image{
    position: absolute;
    width: 100vw;
    top: -3rem;
}

.bottom-image{
    position: absolute;
    width: 100vw;
    bottom: -5rem;

}

.flex-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
}

.rocket{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rocket img{ 
    width: 40vw;
    max-width: 800px;

}

.timer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#time{
    display: flex;
    justify-content: center;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


